<!--// import layout css file -->

<!--%import("./css/layout.css")-->

<!--%import("./css/layout@official.css")-->



<!--// import content css-->

<!--%import("./css/content.css")-->



<!--// import lang css file -->

{@ $_lang_code = substr($lang_type,0,2) }

<!--@if(!in_array($_lang_code,array('en','jp','zh','ko')))-->{@$_lang_code='en'}<!--@end-->

{@Context::addBodyClass($_lang_code)}



<!--// colorset -->

{@$_colorset_list = array('black','blue','sky','cyan','purple','orange')}

<!--@if(!in_array($layout_info->colorset,$_colorset_list))-->{@$layout_info->colorset='black'}<!--@end-->



<!--// layout background iamge -->

<!--@if($layout_info->layout_background=='Y')-->{@Context::addBodyClass('gradBG'.$layout_info->colorset)}<!--@end-->




<div id="xe" class="fixed {$layout_info->colorset}">

	<div id="container" class="{$layout_info->layout_type}">

		<div id="header"> <a href="#content" class="skipToContent">Skip to content</a>


			<ul class="account">
                



				<li class="log">
                    

                <!--@if($is_logged)-->

                    <a href="{getUrl('act','dispMemberLogout')}"><img src="img/buttonLogout.gif"  alt="LOGOUT" /></a>

                <!--@else-->

    {@ $member_config = MemberModel::getMemberConfig(); }

    <!--%import("./filter/login.xml")-->

    <!--@if($member_config->enable_openid=='Y')--><!--%import("./filter/openid_login.xml")--><!--@end-->

    <!-- loginWindow -->

    <!-- class="loginWindow" | class="loginWindow open" -->


		<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">

			<p>{$XE_VALIDATOR_MESSAGE}</p>

		</div>

        <div id="loginLayer" style="padding: 5px 0 0 0;">

        <!-- class="loginLayer loginTypeA" | class="loginLayer loginTypeB" -->

            <form action="" method="post" class="typeA" id="commonLogin" ruleset="@login" >

				<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />

				<input type="hidden" name="act" value="procMemberLogin" />

                <fieldset>

                    <legend>XE Login</legend>

                    <dl>

                        <dt><label for="uid">ID - </label>
                            <input name="user_id" type="text" style="background: transparent;"  id="uid" />

                     <label for="upw">PW - </label>
                            <input name="password" type="password" class="inputText" id="upw" />

                    <input name="keep_signed" type="checkbox" id="keepA" value="Y" class="inputCheck" onclick="if(this.checked) return confirm('{$lang->about_keep_signed}');"/><label for="keepA"></label>

                    <span class="loginButton"><input name="" type="image" src="img/buttonLogin.gif" border="0"></span>
</dt></dl>
                    	

                </fieldset>

            </form>

            <!--@if($member_config->enable_openid=='Y')-->

            <form action="./" method="post" class="typeB" id="openidLogin" onsubmit="return procFilter(this, openid_login)">

                <fieldset>

                    <legend>OpenID Login</legend>

                <label for="oid">Open ID</label>

              <input name="openid" type="text" class="inputText" id="oid" />

                    <span class="loginButton"><input name="" type="submit"  /><img src="img/buttonLogin.gif" width="25" height="5" alt="LOGIN" /></span>

                </fieldset>

            </form>

            <!--@end-->

            <ul class="help">


                <li class="find"><a href="{getUrl('act','dispMemberFindAccount')}">{$lang->cmd_find_member_account}</a></li>

                <li class="find"><a href="{getUrl('act','dispMemberResendAuthMail')}">{$lang->cmd_resend_auth_mail}</a></li>

                <!--@if($member_config->enable_openid=='Y')-->

                <li class="typeA"><a href="#openidLogin" onclick="document.getElementById('loginLayer').className='loginLayer loginTypeB'">OpenID</a></li>

                <li class="typeB"><a href="#commonLogin" onclick="document.getElementById('loginLayer').className='loginLayer loginTypeA'">OpenID</a></li>

                <!--@end-->

            </ul>


    <!-- /loginWindow -->


                <!--@end-->

                </li>

                <!--@if(!$is_logged)-->

				<li class="register"><a href="{getUrl('act','dispMemberSignUpForm')}"><span>JOIN US</span></a></li>

                <!--@else-->
                

				<li class="profile">

					<button type="button" onclick="jQuery('#memberProfile').toggleClass('active');"><span>ABOUT</span></button>

					<!-- memberProfile -->

					<div id="memberProfile" class="memberProfile">

					<!-- class="memberProfile" | class="memberProfile active" -->

						<button type="button" class="close" onclick="jQuery('#memberProfile').toggleClass('active');" accesskey="X"><span>CLOSE</span></button>

						<h2 class="authorName">{$logged_info->nick_name}</h2>

						<ul>

                            <!--@foreach($logged_info->menu_list as $key => $val)-->

                            <li><a href="{getUrl('act',$key,'member_srl','')}">{Context::getLang($val)}</a></li>

                            <!--@end-->

						</ul>

						<button type="button" class="close" onclick="jQuery('#memberProfile').toggleClass('active');" accesskey="X"><span>CLOSE</span></button>

					</div>

					<!-- /memberProfile -->

				</li>

                <!--@end-->



					</ul>

				</li>

			</ul>


		


				</fieldset>

			</form>

		</div>

	</div>

</div>


		<div id="body">

    <center><img src="img/big_logo.png" ></center>
    <div style="position:absolute;width:100px;height:100px;z-indent:2;left:0;top:0;">
        
    </div>
</div>


<div id="xe" class="fixed {$layout_info->colorset}">

	<div id="container" class="{$layout_info->layout_type}">
			<div id="content">

                <!--@if($layout_info->title_main && ($layout_info->title_display!='main' || $_menu_depth==1))-->

				<div class="contentHeader">

					<div class="title">

						<!--@if($layout_info->title_sub)--><h2>{$layout_info->title_sub}</h2><!--@end-->



					</div>

					<div class="summary">

						<!--@if($layout_info->title_image)--><img src="{$layout_info->title_image}" class="thumb" alt="{htmlspecialchars($layout_info->title)}" /><!--@end-->

                        <div class="description">{$layout_info->title_description}</div>

					</div>

				</div>



                <!--@end-->



                {$content}

			</div>

            <!--@if($layout_info->layout_type=='ce')-->



			<div class="extension e1">

				<div class="lnb">

                    
                    <!--@if($category && is_array($category))-->

                        <!--@foreach($category as $key => $val)-->

                        <h3>{$val->title} ({$val->count})</h3>



                        <!--@end-->

                    <!--@else-->

                        <!--@foreach($main_menu->list as $key => $val)--><!--@if($val['link'])-->

                        <!--@if($val['selected']&&$val['list'])-->

                        <ul>

                            <!--@foreach($val['list'] as $k => $v)--><!--@if($val['link'])-->

                            <li <!--@if($v['selected'])-->class="active"<!--@end-->><a href="{$v['href']}" <!--@if($v['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$v['text']}</a></li>

                        <!--@end--><!--@end-->

                        </ul>

                        <!--@end-->

                        <!--@end--><!--@end-->

                    <!--@end-->

				</div>



                <!--@if($layout_info->banner_image_1)-->

				<div class="dLink">

					<a href="{$layout_info->banner_url_1}"><img src="{$layout_info->banner_image_1}" alt="" /></a>

				</div>

                <!--@end-->

                <!--@if($layout_info->banner_image_2)-->

				<div class="dLink">

					<a href="{$layout_info->banner_url_2}"><img src="{$layout_info->banner_image_2}" alt="" /></a>

				</div>

                <!--@end-->

                <!--@if($layout_info->banner_image_3)-->

				<div class="dLink">

					<a href="{$layout_info->banner_url_3}"><img src="{$layout_info->banner_image_3}" alt="" /></a>

				</div>

                <!--@end-->

                <!--@if($layout_info->banner_image_4)-->

				<div class="dLink">

					<a href="{$layout_info->banner_url_4}"><img src="{$layout_info->banner_image_4}" alt="" /></a>

				</div>

                <!--@end-->

                <!--@if($layout_info->banner_image_5)-->

				<div class="dLink">

					<a href="{$layout_info->banner_url_5}"><img src="{$layout_info->banner_image_5}" alt="" /></a>

				</div>

                <!--@end-->

                <!--@if($layout_info->banner_image_6)-->

				<div class="dLink">

					<a href="{$layout_info->banner_url_6}"><img src="{$layout_info->banner_image_6}" alt="" /></a>

				</div>

                <!--@end-->

                <!--@if($layout_info->banner_image_6)-->

				<div class="dLink">

					<a href="{$layout_info->banner_url_6}"><img src="{$layout_info->banner_image_6}" alt="" /></a>

				</div>

                <!--@end-->

			</div>

            <!--@end-->

		</div>




		


<footer>
			<!--@if($rss_url)--><p class="rss"><a href="{$rss_url}">RSS</a></p><!--@end-->

			Copyright (c) <strong title="XpressEngine">ZICODE</strong> ALL rights received<br>
                <small>Designed by michelluSUN</small>
</footer>


	</div>

</div>



