a{
    text-decoration:none; 
    color:orange;
    font-size:9pt;
    font-family:'Courier new', Courier, monospace;
    
}

a:hover {
    color: #5eb5af;
}

a:active {
    color: red;
}

/*
a:visited {
    color:grey;
}
*/

body{
    margin-top: 40px;
background-image: url(bg.jpg);
}
.border{
    padding: 20px;
      height: 280px;
/*
    border: 1px solid #fad389;
  
    border-radius: 2px;
*/
}

h1 {
	font-family:'Trebuchet MS', Helvetica, sans-serif;
	color:#fff;
    text-shadow: 0 0 3px grey;
	margin-top:30px;

}

.links {
        border-top: 1px dotted #fad389;
    color:orange;
    font-size:9pt;
    font-family:'Courier new', Courier, monospace;
}

.pa {
    display: block;
	font-size:9pt;font-family:'Courier new', Courier, monospace;
    color:#bab5b5;
    background:#fff;
	width:650px;
    height:500px;
    margin-left:auto;
	margin-right:auto;
	padding:0px 40px 5px;
	border-radius:5px;
}

.footer{
    font-family:'Courier new', sans-serif; 
    font-size:7pt;
    color:#bab5b5;
    width:400px;
    margin-top: 5px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#header {
    width: 258px;
    float:left;
     
}

#header2 {

    color: grey;
    font-weight: 100;

    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 2px;
    margin-top: 100px;
    width: 344px; 
    clear: right;
    float: right;
}

#content{
    margin-top: 20px;
    width: 300px; 
    clear: right;
    float: right;
    
}

#sidebar{
    width: 258px;
    float: left;
    clear: left;
}