a{
    text-decoration:none; 
    color:orange;
    font-size:9pt;
    font-family:'Courier new', Courier, monospace;
    
}

body{
background: #f4f4f4;
}
.border{
    padding: 20px;
border: 1px solid orange; 
}

h1 {
	font-family:'Trebuchet MS', Helvetica, sans-serif;
	color:#fff;
    text-shadow: 0 0 3px grey;
	margin-top:30px;

}

.links {
    color:orange;
    font-size:9pt;
    font-family:'Courier new', Courier, monospace;
}

.pa {
    display: block;
	font-size:9pt;font-family:'Courier new', Courier, monospace;
    color:#bab5b5;
    background:#fff;
	width:300px;
    margin-left:auto;
	margin-right:auto;
	padding:0px 40px 20px;
	border-radius:5px;
}

.footer{
    font-family:'Courier new', sans-serif; 
    font-size:7pt;
    color:#bab5b5;
    width:400px;
    margin-top: 5px;
    margin-left:auto;
    Margin-right:auto;
    text-align:center;
}