canvas {
    margin: 0;
  display: block;
    z-index: -9999;
}


#about-text {
    margin-top: 242px;
background: #fff;
     border: 1px solid #27f0c2;
    width: 50%;
    display:block;

    padding: 10px 30px;
}


#sidebar .navi a {
    font-size:10pt;
	transform: rotate(-90deg);
	transform-origin: left top 0;
margin-bottom: 85px;
text-align: right;
    font-weight: 100;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2px;
    clear: left;
    float: left; 
    color: #ff00d8;
}



.dot {
  height: 4px;
  width: 4px;
    margin-left:21px;
  background-color: #ff00d8;
  border-radius: 50%;
  display: inline-block;
}



a {text-decoration:none;}

a:hover {
    color: #0b0b0b; 
}



b {font-size: 8pt;}



body{
    
    margin-top: 40px;

}

#marmar {margin-top: 14px;}

#sidebar ul, #rightbar ul, #footer ul {

    list-style-type: none;
    margin: 0px; 

    display: block; 
    width: 100%; 
    height: 100%; 
}

#sidebar ul {
    margin-left: -40px;}



.pa {
    display: block;
    width:100%;
	position: fixed;

	margin-right:30px;
	padding:0px 35px 0px;
}

.pa, #bg1 {
    font-size:10pt;
    font-family: futura, san-serif;
    letter-spacing: .6px;
    font-weight: 100;
    color:#414141;
}


#header {
    width: 100 px;
    float:left;
    z-index: 999;

    letter-spacing: 2px;

     font-weight: 600;
    text-transform: uppercase;
}

#header a {
    color: #ff00d8;
}



#sidebar{
    margin-top: 87px;
    position: fixed;
    margin-left: -2px;
    width: 150px;
    float: left;
    clear: left;
    z-index: 555;
}

#rightbar{
    margin-top: 40px;
    position: fixed;
    margin-left: 42px;
    left: 0;
}

#rightbar li {
    height: 30px;
    width 30px;
}


.crop {
   
     object-fit: cover; width: 100%; height: 390px;
}


/*Hover*/

/*
#dothover:hover  ~ #bg{
    background-size:cover;
    background-position: center;
    visibility: visible;
     z-index: -1;
    background-color: #fff;
     width: 300px; 
}
*/

#bg{
        background-size:cover;
    background-position: center;
    visibility: hidden;
     z-index: -1;
    background-color: #fff;
     width: 300px; 
}



figcaption {
    font-size: 9pt;
    letter-spacing: .5pt;
    text-align: right;
}



/*
#universe:hover  ~ #bg, #lulu:hover  ~ #bg, #memory:hover  ~ #bg, #tea:hover  ~ #bg {
    background-size:cover;
    background-position: center;
    opacity: 1;
}
*/

/*
#universe:active  ~ #bg, #lulu:active  ~ #memory:hover  ~ #bg, #tea:hover  ~ #bg {
    background-size:cover;
    background-position: center;
    opacity: 1;
}
*/

#bg { 
    position: fixed;
    top: 77px;
    left: 164px;
 width: 0px;
    z-index: -10000;
    visibility: hidden;
    color: black;
    height: 125px;

}

h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

h5 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#rightbar span:hover  {
     background-color: #211920;
}

#rightbar p {font-size: 8pt;
    line-height: 11.5pt;
    letter-spacing:1px; 
    margin-top: -3px;

}



.paragraph {padding-left: 29px;
    width: 540px;
    padding-right:30px;


    overflow-x: hidden;
    overflow-y: scroll;
}

#horiscroll .paragraph {    
    padding-top: 30px;
}


#dotbg
{
    font-size: 8pt;
        letter-spacing: 2px;
     font-weight: 600;
    text-transform: uppercase;
    color: #ff00d8;
position: absolute;
opacity: 0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
}



body {
  background: rgba(255, 255, 255, 0.47);
  background-image: radial-gradient(hsla(151, 100%, 47%, 1.00) 5%, transparent 0);
  background-size: 30px 30px;
    background-attachment: fixed;

}




#horiscroll {
margin-left: 96px;
    margin-right: 38px;
 overflow-x: scroll;
  overflow-y: hidden;
      display: flex;
  flex-wrap: nowrap;
   z-index: 1;

    padding-top: 185px;
}
#bg1 {
overflow-y: scroll;
        border: 1px solid #27f0c2;
    padding: 30px;

margin-right: 30px;
 width: 600px;
height: 448px;

    z-index: 1;
    color: black;
}

 .flexbox {   
  display: flex;
         overflow-y: auto;
  flex-wrap: nowrap;
  overflow-x: auto;


    flex: 0 0 auto;
   flex-shrink: 0;
}   


.intro {
    height:200px;
}






#sidemenu{display: none;}


/*ipad*/
@media (max-width: 770px) {
     #bg, #bg1{ left: 164px;
            width: 270px;
    height: 80%;
         }
        
        .crop {
            height: 280px;
        }
        
        .paragraph{
        
    width: 240px;
    padding-right:30px;
 
        }
  
}

.talk {margin-top: 9px;margin-left: 60px;}
/*iphone*/
@media (max-width: 460px) {

    #rightbar {margin-top: 10px;}
    .talk h2 {display: none;
       }
    .aboutmi {margin-top: -30px;}
    #sidebar, #header {margin-left: -30px;}
    #header {margin: -30px;}
    #footer {top:40px;height: 10px;margin-left:0px;}
    #footer a{margin-left: -30px;}
    .resume {margin-top: -40px;}
    .talk{	margin-top:-100px; }
    
           #bg1{ left: 14px;
               top: 195px;
            width: 300px;
    height: auto;
               overflow: visible;
               
         }
        
        .crop{
            height: 210px;
        }
        
        .paragraph{
        
padding: 0;
        } 
    
    #bg {
        padding-left:30px;
        top: 48px;
    }
    .paragraph {padding: 0;margin: 0;width: 100%;}
    
    
    #horiscroll {margin: 0;
    width: 100%;
        padding-top: 185px; 
        height: 500px;
overflow-y: scroll;
    }
    
     .flexbox {  overflow-y: scroll;
  display: block;

  overflow-x: auto;

}   
    
}







.intro {
    height:200px;
}




@media screen and (min-width: 1500px){
        #bg, #bg1{
            width: 600px;
    height: 538px;
         }
        
        .crop {
            height: 480px;
        }
        
        .paragraph{
        
    width: 540px;
    padding-right:30px;

        }
}

#footer a {
    color: #ff00d8;
        text-transform: uppercase;
font-size: 9px;
    letter-spacing: 2px;
    float: left;
margin-right: 60px;

    }

#footer{   width: 100%; position: fixed;
    bottom: 45px;
    left: 4px;}



@keyframes current {

    0% {  
      opacity: 0.3;
      color: white;
    font-size:10pt;}
    35% {  
      opacity: .3;
      font-size:10pt;
        color: white;}
    100% {
      opacity: 1;
    font-size:20px;}
}


@keyframes prev {

    0% {  
      opacity: 1;font-size:20px;
      color: white;}
    35% {  
      opacity: 1;
      color: white;font-size:20px;}
    100% {
      opacity: .3;font-size:10pt;}
}
