.navi a, a{
    text-decoration:none; 
    color: #c6c6c6;
    font-weight: 100;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2px;
    clear: left;
    float: left; 
}

a:hover {
    color: #0b0b0b;
}

a:active {
    color: red;
}

/*
a:visited {
    color:grey;
}
*/

body{
    margin-top: 40px;
background-image: url(bg.jpg);
}


h1 {
	font-family:'Trebuchet MS', Helvetica, sans-serif;
	color:#fff;
    text-shadow: 0 0 3px grey;
	margin-top:30px;

}

.navi {
    margin-top: 20px;
    color:orange;
    font-size:10pt;
    line-height: 150%;
    font-family: Helvetica, sans-serif;
}

.pa {
    display: block;
	font-size:8.5pt;
    font-family: 'Baskerville', times, serif;
    letter-spacing: .6px;
    font-weight: 100;
    color:#414141;
    background:#fff;
	width:80%;
    height:500px;
    margin-left:auto;
	margin-right:auto;
	padding:0px 20px 0px;
}


#header {
    margin-left: -15px;
    width: 50px;
    float:left;
     
}

#sub-header {

    color: #c6c6c6;
    font-weight: 100;
    font-size: 7px;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 1px;
    width: 344px; 
    clear: left;
    float: left;
}

#content{
    margin-top: 25px;
    margin-left: 20px;
    width: 75%; 
    clear: right;
    float: right;
    padding-left: 20px;
    
}

#sidebar{
    margin-top: 100px;
    position: fixed;
    width: 18%;
    padding: 1px;
    float: left;
    clear: left;
}