body {
background: #faf4a7;
}
h1, h2 {
    font-family: 'helvetica', arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1pt;
}

h1 {
    margin-top: 1px;
    color:#ada216;
    font-size: 50pt;
}

h2 {
    margin-top: 1px;
    color:#e5d50a;
    
}

.imgbig {
width:650px;
}

.col5a  {
        height: 40px;
    margin: 1%;

    float: left;
    width:48%;
        color: #e5d50a;
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: 100;
    letter-spacing: 1px;
text-align:left;
}

.col5a a:hover {
border-bottom: 0;
}

a {
text-decoration: none;
    color: #e5d50a;
}

a:hover {
    color: #faf4a7;
border-bottom: 2px solid #faf4a7;
      text-shadow: 0 0 4px #7c740f;
}

#download {

    width: 58%;

    margin: 1%;
    float: left;
        height: 150px;
        color: #ada216;
    font-family: sans-serif;
    font-size: 10pt;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
    padding:2%; 
    padding-left: 5%;
}

#download img {
    margin: 2%;
    width: 150px;

}



.header {
    background-color: #ada216;
    height: 70px;
    width: 100%;
}

#contact {
width: 24%;
        height: 200px;
    margin-top: 40px;
    margin: 1%;
    float: left;

        color: #ada216;
    font-family: sans-serif;
    font-size: 10pt;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
    padding:2%; 
    padding-right: 5%;
}
h1 .h1color{
    color:#faf4a7;
}

.h401 {
    margin-top: -50px;
    text-transform: uppercase;
    font-family: 'helvetica', arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1pt;
    color: #ada216;
}

.h40 {
    text-transform: uppercase;
    font-family: 'helvetica', arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1pt;
    color: #ada216;
}

.h402 {

    text-transform: uppercase;
    font-family: 'helvetica', arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1pt;
    color: #ada216;
}

.wrapper {
    max-width:1050px;
    width: 100%;
    margin:auto;

}

img {
    width: 300px;
    
}
.logo {
    margin-top: -900px;
    margin-bottom: 50px;
    clear: both;
}

.bg1 {
    background-color:#e5d50a; 
    height: 700px;
    width: 100%;
    
}

.big {
    padding-top: 100px;
    height: 1000px;
background: #faf4a7;
    margin-top: -20px;
}


.grid {
    width:100%;
}

.col8, .col4, .col2, .col1, .col3 {
    height: 40px;
    margin-top: 0px;
    margin: 1%;
    float: left;
  
}



.col8 {
    width: :98%;
    float: none
}

.col5  {
        height: 40px;
    margin: 1%;
    margin-top: 2.4%;
    float: left;
    width:48%;
        color: #e5d50a;
    font-family: sans-serif;
    font-size: 10pt;
    text-align: right;
    font-weight: 100;
    letter-spacing: 1px;
}

.col7 {
width: 70%；
        height: 40px;
    margin-top: 40px;
    margin: 1%;
    float: left;
        height: 550px;
        color: #ada216;
    font-family: sans-serif;
    font-size: 10pt;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
    padding:5%; 
}

.col4  {
    height: 500px;
    width:44.1%;
        color: #ada216;
    font-family: sans-serif;
    font-size: 10pt;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
    padding:5px 20px; 
}


.tri {
    margin-top: -100px;
    margin-bottom: 20px;

}



#triangle {
	left: 0;
	width: 0;
	height: 0;
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
	border-top: 50px solid #e5d50a;
}


.iphone {
    float:right;width:250px;;margin-top:-10px;
}


footer{
	position:fixed;
	left:0px;
	bottom:0px;
    right: 0px;
	width:98%;
    height: 4%;
	padding-top:1%;
    padding-right: 30px;
	text-align:right;
	background-color:#faf4a7;
  color:#e5d50a;
	font-family:helvetica;

}

/*为了让css在一定大小下才会实现*/
@media (max-width: 460px) {
    .col8, .col4, .col2, .col1, .col3, #download, #contact{
            width: 98%;
    }
    
    #download img {
        margin: 2px;
    }
    
    #contact a{
    margin: 0
    }
.iphone {
    float:right;width:50%;margin-top:-10px;
}
    
    .col5, .col5a {
        width:98%;
            height:40%;
        text-align: center;
    } 
    
    #contact {
    height: 100px;
    }
    
    
    .col7 {
    height: 650px;
    }
    .col7,#download,#contact {
        margin: 3%;
        width: 84%;
        padding: 5%;
    }
    .imgbig {
    width:320px;
    }
    h1 {
    margin-left: 0px;
    }
}





