body {background: #fff;
margin:0;
    padding: 0;
    width: 100%;
    height: 100%;

        color: pink;

}
#heart, #heart2, #heart3, #heart4 { 
position: relative; 
width: 100px;     margin: 0 auto;
height: 90px;     font-family: "Arial",sans-serif;
} 

div#heart p {line-height: 15px; z-index: 100; text-align: center;font-size: 10pt;}


#heart2:hover:before, #heart2:hover:after,
#heart3:hover:before, #heart3:hover:after,
#heart4:hover:before, #heart4:hover:after {
    background: #ffe8ec;
    transition: all 350ms;    
    
}


#heart2:hover:after {content: "Pei";}
#heart3:hover:before {content: "Hao";}
#heart4:hover:after {content: "Dad";}

#heart:before, 
#heart:after { z-index: -1;
position: absolute; 
content: ""; 
left: 50px; 
top: 0; 
width: 50px; 
height: 80px; 
background: #ffe8ec; 
-moz-border-radius: 50px 50px 0 0; 
border-radius: 50px 50px 0 0; 
-webkit-transform: rotate(-45deg); 
-moz-transform: rotate(-45deg); 
-ms-transform: rotate(-45deg); 
-o-transform: rotate(-45deg); 
transform: rotate(-45deg); 
-webkit-transform-origin: 0 100%; 
-moz-transform-origin: 0 100%; 
-ms-transform-origin: 0 100%; 
-o-transform-origin: 0 100%; 
transform-origin: 0 100%; 
} 

#heart:after { 
left: 0; z-index: -1;

-webkit-transform: rotate(45deg); 
-moz-transform: rotate(45deg); 
-ms-transform: rotate(45deg); 
-o-transform: rotate(45deg); 
transform: rotate(45deg); 
-webkit-transform-origin: 100% 100%; 
-moz-transform-origin: 100% 100%; 
-ms-transform-origin: 100% 100%; 
-o-transform-origin: 100% 100%; 
transform-origin :100% 100%; 
} 


#heart2:before, 
#heart2:after { 
position: absolute; 
content: ""; 
left: 45px; 
top: -85px; 
width: 50px; 
height: 80px; 
background: pink; 
-moz-border-radius: 50px 50px 0 0; 
border-radius: 50px 50px 0 0; 
-webkit-transform: rotate(-135deg); 
-moz-transform: rotate(-135deg); 
-ms-transform: rotate(-135deg); 
transform: rotate(-135deg); 
-webkit-transform-origin: 0 100%; 
-moz-transform-origin: 0 100%; 
-ms-transform-origin: 0 100%;  
transform-origin: 0 100%; 
} 

#heart2:after { 
left: -5px; 
-webkit-transform: rotate(-45deg); 
-moz-transform: rotate(-45deg); 
-ms-transform: rotate(-45deg);  
transform: rotate(-45deg); 
-webkit-transform-origin: 100% 100%; 
-moz-transform-origin: 100% 100%; 
-ms-transform-origin: 100% 100%; 
transform-origin :100% 100%; 
} 


#heart3:before, 
#heart3:after { 
position: absolute; 
content: ""; 
left: 55px; 
top: -175px; 
width: 50px; 
height: 80px; 
background: pink; 
-moz-border-radius: 50px 50px 0 0; 
border-radius: 50px 50px 0 0; 
-webkit-transform: rotate(45deg); 
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg); 
-webkit-transform-origin: 0 100%; 
-moz-transform-origin: 0 100%; 
-ms-transform-origin: 0 100%;  
transform-origin: 0 100%; 
} 

#heart3:after { 
left: 5px; 
-webkit-transform: rotate(135deg); 
-moz-transform: rotate(135deg); 
-ms-transform: rotate(135deg);  
transform: rotate(135deg); 
-webkit-transform-origin: 100% 100%; 
-moz-transform-origin: 100% 100%; 
-ms-transform-origin: 100% 100%; 
transform-origin :100% 100%; 
} 


#heart4:before, 
#heart4:after { 
position: absolute; 
content: ""; 
left: 71px; 
top: -168px; 
width: 50px; 
height: 80px; 
background: pink; 
-moz-border-radius: 0 0 50px 50px; 
border-radius: 0 0 50px 50px; 
-webkit-transform: rotate(135deg); 
-moz-transform: rotate(135deg);
-ms-transform: rotate(135deg);
transform: rotate(-45deg); 
-webkit-transform-origin: 0 100%; 
-moz-transform-origin: 0 100%; 
-ms-transform-origin: 0 100%;  
transform-origin: 0 100%; 
} 

#heart4:after { 
left: -21px; 
-webkit-transform: rotate(-135deg); 
-moz-transform: rotate(-135deg); 
-ms-transform: rotate(-135deg); 
transform: rotate(45deg); 
-webkit-transform-origin: 100% 100%; 
-moz-transform-origin: 100% 100%; 
-ms-transform-origin: 100% 100%; 
transform-origin :100% 100%; 
} 

#words {
/*         border:1px dashed #b5b5b5;*/

    width:100%;
    height: 50%;
    margin-top: 2000px;
    position: relative;
/*    background: #efefef;*/
   
}

#words2 {

margin: 0 auto;
    width:80%;
    height: auto;
    margin-top: 20%;
    position: relative;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
   
}


#mom {
        width: 100%;
    text-align: center;
    opacity: 1;
    animation-name: fadein;
    animation-duration: 1s;
        font-size: 30pt;
    line-height: 50pt;
    color: #ffe8ec;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
 
}

@keyframes fadein {

    0% {  
      opacity: 0;

}

    100% {
      opacity: 1;
}
}

@keyframes color {
    0% {background: aliceblue;}
    25% {background: beige;}
    50% {background: antiquewhite;}
    75% {background: azure;}
    100% {background: aliceblue;}
    
}

@keyframes colorr {
    0% {background: pink;}
    80% {background: #ffe8ec;}
    100% {background: pink;}
    
}

#hbd { 
            width: 100%;
    text-align: center;
    opacity: 0;
    animation-fill-mode:forwards;
    animation-name: fadein;
    animation-duration: 2s;
    font-size: 30pt;
    line-height: 50pt;
    color: pink;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}


/*
.wrap {
    animation: color 3s infinite linear;

}
*/
    #words {transform: scale(4,4);
    }

    
/*
#heart2:before, #heart2:after {animation: colorr 1s infinite linear;animation-delay: 3s;}
#heart3:before, #heart3:after {animation: colorr 1s infinite linear;animation-delay: 4s;}
#heart4:before, #heart4:after {animation: colorr 1s infinite linear;}
*/

