
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

span[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
    background-color: rgb(244, 244, 244);
 color:#575756;
transition-timing-function: ease-in-out;
}

.title {

display: block;
    margin-top: 250px;
background-image: url(image/what.svg);
    width: 90%;
    height: 250px;
    background-attachment: fixed;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.svg {
padding-bottom: 50px;
}

.share a {
color:#575756;
    font-size: 20pt;  
    margin: 5px;
}

.share {
 margin-left: auto;
    margin-right: auto;
    width: 250px;
}



.fontawesome-facebook-sign:hover {
color:#608df2;
}

.fontawesome-pinterest-sign:hover {
color:#f82f2f;
}

.fontawesome-google-plus-sign:hover {
color:#f26060;
}

.fontawesome-twitter-sign:hover {
color:#90ddf4;
}

.fontawesome-linkedin-sign:hover {
color:#3a80c6;
}


.fontawesome-share:hover {
color:#939aaa;
}


.title2 {
display: block;
    margin-top: 250px;
    width: 90%;
    height: 550px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.grida p {
    text-align:left;
width: 60%;
    margin-right: auto;
/*    margin-left: auto;*/
}


h3 {
    font-family: panT,'helvetica',sans-serif;
    letter-spacing: .5pt;
    color: #bababa;
    font-weight: 100;
}

h5 {
    font-family: helT,'helvetica',sans-serif;
    letter-spacing: .5pt;
    color: #888886;
    font-size: 10pt;
    font-weight: 100;
 
}

.sidebar {
width:15%;
    height: auto;
    display: block;
        float: right;
    margin-right: 50px;
    padding-left:20px;
    padding-right:20px;
    right: 100%;
    text-align: left;
}

.sidebar h3 {
background: #e9e9e9;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.sidebar .dp {
border-radius: 50%;
    box-shadow: 0px 0px 1px rgba(136, 136, 136, 0.61);
    margin-right: auto;
    margin-left: auto;
    background-image: url(image/me/DSC_9404-2.jpg);
 background-size: 100%;
width:90px;
    height: 90px;
    background-position: center;
}

.sidebar .dp:hover {
background-size: 110%;
    background-position: center;
}
.sidebar img {
width: 200px;
}

.title3 {
display: block;
margin: 0;
    width: 100%;
    height: 250px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

div.enter h1 {
font-family: nexaL, 'helvetica', sans-serif;
margin-bottom: -20px;
        font-size: 36pt;
    
}
.enter{
        padding-top: 100px;
    padding-bottom: 200px;

}

header {
        background-color: rgba(233, 233, 233, 0);
    position: absolute;
    height: 5px;
    width: 90%;
    padding:28px 5%;
    margin-top: -20px;
    margin-left: -10px;
    z-index: 9999;
}

div.navi {
display: block;
    text-align: right;
}

.scrolled header {
        background-color: #e9e9e9;
    display: inherit;
position:fixed;
    transition: none;
}

.scrolled 	.menuu {
		overflow: visible;
        width: 100%;
        margin-top: -25px;
    transition: none;
	}


div.enter a h1:hover {
color: rgb(198, 211, 220);
    font-size: 35pt;
}


.fheader {
    background-color: #e9e9e9;

    height: 50px;
    width: 200%;
    padding:28px ;

display: block;
    right: 0;
    left: 0;


    z-index: 9999;
    	bottom:0px;
}

p {
    font-family: helN, 'helvetica', sans-serif;
    color: #575756;
    font-size: 11pt;

}

.small {
display:none;
}

.disc {
height: 200px;
    background-color: white;
       width: 100%;

padding: 2px;

}

.blog {
width: 100%;
height: auto;
    
}


.blog p {

    width: 100%;
      padding-left: 10px; 
    height: 200px;

}

.blog ul li img {
	max-width: 80%;

	margin:0;
     object-fit: cover;
  width: 100%;
  height: 250px;
}
.blog ul li {
    

  -webkit-column-count: 2;
  -webkit-column-gap: 5px;
  -webkit-column-fill: auto;
    vertical-align: top;
    	display: inline-block;
        margin: 1%;


}


.search {

    float: right;
    margin-right: 0px;
    margin-top: -70px;
    clear:both;
    color:white;

}


.fontawesome-search {

    margin-left: 5px;
}
.fontawesome-home {
    font-size:15pt;
}

.fontawesome-reorder {
display: none;
}

input {

    border-radius: 3px;
    border-width: 0px;
    background-color: #dfdfdf;
    padding-left: 10px;
    padding-right:35px;
    height: 30px;
    width: 80px;
    color:white;
    font-family: panT,'helvetica', arial, sans-serif;
    letter-spacing: 1pt;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgb(239, 239, 239);
        letter-spacing: 1pt;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: rgb(239, 239, 239);
        letter-spacing: 1pt;
}

input:focus {
    outline:none;
}

h1 {

    color:#575756;
    font-size: 50pt;
    font-family: nexaL,'helvetica', arial, sans-serif;
    font-weight: 100;
    letter-spacing: 2.3pt;
}

h1 .h1color{
    color:rgb(198, 211, 220);
    font-family:nexaB,'helvetica', arial, sans-serif;
}



h2 {
    color:#575756;
    font-size: 23pt;
    font-family: panT,'helvetica', arial, sans-serif;
    font-weight: 100;
        clear: both;
        margin-top: 30px;
}

h4 {
text-align:left;
}
h4 a {
    color:#9d9d9d;
    font-size: 10pt;
    font-family: helN,'helvetica', arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1.5 pt;


}

h4 a:hover {
    color: #575756;
}

a {
    text-decoration: none;
    color: white;
}

a .navi, .nav, .fontawesome-search{
    font-family: panT,'helvetica', arial, sans-serif;
    color:#575756;
    font-size: 10pt;
    font-weight: 100;
    letter-spacing: 1px;
}


a .navi {

}

#on {
color: rgb(198, 211, 220);
}

#on:hover {
color:#575756;
}


a:hover, .navi:hover, .fontawesome-search:hover {
    color: #2FB6CB;
}


.grid {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    
}

.grida {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    
}


/*font faces*/

@font-face {
    font-family: nexaB;
    src: url(font/woff/Nexa_Bold.woff);
}

@font-face {
    font-family: nexaL;
    src: url(font/woff/Nexa_Light.woff);
}

@font-face {
    font-family: panT;
    src: url(font/woff/Panton-LightCaps.woff);
}

@font-face {
    font-family: helNi;
    src: url(font/woff/HelveticaNeue-LightItalic.woff);
}

@font-face {
    font-family: helN;
    src: url(font/woff/HelveticaNeue-Light.woff);
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.phone-search {display: none;}


/*
.col5a  {
        height: 40px;
    margin: 1%;

    float: left;
    width:48%;
        color:rgb(198, 211, 220);
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: 100;
    letter-spacing: 1px;
text-align:left;
}

.col5a a:hover {
border-bottom: 0;
}
*/


@-webkit-keyframes navBar {
    
0% {
    opacity: 0%;
}
    
    100% {
    opacity: 100%;
}
    
}


.h401 {
    margin-top: -50px;
    text-transform: uppercase;
    font-family: 'helvetica', arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1pt;
    color: #ada216;
}

.h40 {
    text-transform: uppercase;
    font-family: 'helvetica', arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1pt;
    color: #ada216;
}

.h402 {

    text-transform: uppercase;
    font-family: 'helvetica', arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1pt;
    color: #ada216;
}




.bg1 {
    background-color:#e5d50a; 
    height: 700px;
    width: 100%;
    
}

.big {
    padding-top: 100px;
    height: 1000px;
background: #faf4a7;
    margin-top: -20px;
}



.col8, .col4, .col2, .col1, .col3 {

    margin-top: 0px;

    float: left;
  
}



.col8 {
    width: :98%;
    float: none
}


.col7 {
width: 80%;
        height: 40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

        height: 550px;
        color: #ada216;
    font-size: 10pt;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
    padding:1%; 
    clear: both;
}

.col4  {
    overflow: hidden;
        color: #ada216;
    font-family: sans-serif;
    height: auto;
    font-size: 10pt;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
    padding-right:20px; 
    padding-bottom: 20px;
}



footer {
    
   display: none;
}

.footer-outer {
    width:100%;margin: 0;
    bottom: 100%;
}

div .copyright {
background-color: #e9e9e9;
    height: 150px;
    width: 100%;
    padding:28px 6%;
    margin: 0 -6%;
}



/*grid*/

.pin3 ul {


}
    
.imgpin {
 width: 85%;
        margin-top:50px;
        margin-left: auto;
    margin-right: 5%;
clear: both;
    height: auto;
    margin-bottom: 50px;
}



div.grid h2, div.grida h2 {
text-align: center;
    margin-top: 50px;
    width: 100%;
        letter-spacing: 1.5pt;
    clear: both;
}
.pin3 ul {
padding: 0;
    list-style-type: none;
       height: auto;
}


.pin3 ul li {
  width:28%;
    margin-bottom: 4%;
    float: left;
      margin-right: 5%;
       height: auto;
}

.pin3 ul li img {
  width: 100%;
 object-fit: cover;
  height: 250px;
}


/* this is the slideshow*/

/*yeyeyeye*/



.fader{
    position: relative;
    padding-top: 450px;
    margin-top: 50px;
    overflow: hidden;
    width: 80%;
    padding-bottom: -20px;
} 
 
.fader .slide{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    opacity: 0;
    display: block;
    height: 450px;
    border-radius: 2px;
}
 
.fader img{
 object-fit: cover;
  width: 100%;
  height: 450px;
}

.fader .prev,
.fader .next{
  position: absolute;
  height: 80px;
  line-height: 55px;
  width: 50px;
  font-size: 100px;
  text-align: center;
  color: rgb(198, 211, 220);
  top: 50%;
  left: 0;
  z-index: 4;
  margin-top: -25px;
  cursor: pointer;
  opacity: .7;
  transition: all 150ms;
}

.fader .prev:hover,
.fader .next:hover{
  opacity: 1;
}

.fader .next{
  left: auto;
  right: 0;
}



figure {
margin:0;
}

figcaption{
  position: absolute;
    font-family: helN, 'helvetica', sans-serif;
  font-size: 12pt;;
  bottom: 10%;
  right: 5%;
  padding: 20px 50px;
    letter-spacing: .5pt;
  color: #fff;
  background: rgba(149, 149, 149, 0.28);
  border-radius: 2px;

    z-index: 10000;
}

figcaption a{
        font-family: helNi, 'helvetica', sans-serif;
  color: #fff;
}

.logo{
padding-top: 30px;

}

.biglogo {
margin-bottom: -10px;
}







/*为了让css在一定大小下才会实现*/




@media (max-width: 780px) {
.article p {width:100%;}
    
    iframe {width:100%;}
    
    .sidebar {
    float: right;
        position: fixed;
        right: 1%;
        bottom: 1%;
        padding: 0;
    }
    
    .sidebar .dp {
    width: 70px;
        height: 70px;
    }
    
        .sidebar h3,.sidebar h5, .sidebar img {
    display: none;
    }  
}






@media (max-width: 460px) {

        .col8, .col4, .col2, .col1, .col3 {
            width: 98%;}
    
.pin ul {
-webkit-column-count:none;
}
    

    header {
    position: fixed;
        background: #e9e9e9;
    }
    #nophoto {
    background-size: contain;
    }
   
    
    .biglogo {
    display: none;
    }
    
    header {
    height: 10px;
    }
    
    .search {
    display:none;
    }
    
    .phone-search {
        display: inherit;
    margin-left: 0;
        margin-top: -60px;
    float: right;
    margin-right: -20px;
    clear:both;
    color:white;
}

.grid, .fader, .col7, .pin3 ul, .grida {
    width:90%;

}
    
    
    
    
    
    
    
 .imgpin {
 width: 100%;
        margin-top:0;
        margin-left: auto;
    margin-left: 5%;
clear: both;
    height: 100%;
}
    
    
    
.pin3 ul {
padding: 0;
    list-style-type: none;
       height: auto;
    
}


.pin3 ul li {
  width:48%;
    margin-bottom: 1%;
    float: left;
      margin-right: 2%;
       height: auto;
}

.pin3 ul li img {
  width: 100%;
 object-fit: cover;
  height: 150px;
    
}
    
    .phone-search ul ul {
        
right: 5%;
	background-color:rgba(229, 19, 19, 0);
	padding:0;
	top: 100%;
        width: 1000px;;
	border-radius:0px;
}

    
    .svg {
    display: none;
    }
    
    .navv {
    display: none;
    }

    
input {
    border-radius: 0;
    border-width: 0;
    background-color: #dfdfdf;
    padding-left: 30px;
    padding-right:35px;
    height: 60px;
    width: 200px;
    color:white;
    font-family: panT,'helvetica', arial, sans-serif;
    letter-spacing: 1pt;
    float: right;
    margin-top: -4px;
    font-size: 12pt;
}
    
    
    .small {
        display:inherit;
    text-align: center;


    }
    
    input {
    display:none;
    }
    
    h1 {
    font-size: 21pt;
        margin-top: 0px;
        margin-right: 20px;
        letter-spacing: 0;
    }
    
    .fontawesome-reorder {
    display:inherit;
        color:#575756;
        margin-top: -10px;
    }
    

    
    div.navi{
    display: none;
    }
    
    .col5, .col5a {
        width:98%;
            height:40%;
        text-align: center;
    } 
    
    #contact {
    height: 100px;
    }
    
    
    .col7 {
    width: 100%;
        padding: 0;
        margin-right: 0;
    }

    
    figcaption{
  position: absolute;
    font-family: helN, 'helvetica', sans-serif;
  font-size: 10pt;;
  bottom: 5%;
  right: 5%;
  padding: 10px 20px;

}
 
    footer, footer a{
        display: block;
	position:fixed;
	left:0px;
	bottom:0px;
    right: 0px;
	width:98%;
    height: 7%;
	padding-top:4%;
    padding-right: 30px;
text-align: center;
	background-color:rgb(239, 239, 239);
  color:rgb(198, 211, 220);
        font-family: panT, 'helvetica', sans-serif;    
}
    

    .imgrid ul li {
    
    width: 43.1%;

}

.imgrid ul li img {
	max-width: 100%;
margin: 0;
     object-fit: cover;
  width: 100%;
  height: 120px;
}


    .col7 .grid {
    margin-top: 0;
    }
    
    
  
    
    


   
    
}









.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;


  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility opacity 0.2s;

}
.texthover a {
top:50%;
}

.texthover {
    width:100%;
    display:block;
    position:relative;
    height: auto;
    text-align: center!important;
}

.texthover .overlay {
    position:absolute;
    color:rgba(255, 255, 255, 0.71);
    height: 50%;
    top:0%;

    width:100%;
    padding:30% 0 0 0 ;
    font-family: helN, 'helvetica', sans-serif;
    font-size: 12pt;
   letter-spacing: .5pt;
/*    background-color:rgba(0, 0, 0, 0.3);*/
    background:  -webkit-linear-gradient(top,  rgb(87, 87, 86) 0%,rgba(87, 87, 86, 0.6) 50% ,rgba(51, 51, 51, 0) 100%);
    display:none;
}

.heart {
    position:absolute;
    color:rgba(255, 255, 255, 0.71);
    top:2%;
    right:2%;
    width:0;
    width:100%;
    height:auto;
    font-family: helN, 'helvetica', sans-serif;
    font-size: 36pt;
   letter-spacing: .5pt;
    display:none;
    z-index: 10;
}

.fontawesome-heart:hover, .fontawesome-heart:active {
color:red;
    font-size: 20pt;
}
.fontawesome-heart {
    font-size: 16pt;
    text-shadow: 0 0 4px #575756;
}

.overlay .scap, .heart {
    color: rgba(255, 255, 255, 0.64);
    font-size: 10pt;
text-align:right;
}

.texthover:hover .overlay, .texthover:hover .heart {
    color: #FFF;
    display:block;
}


/*
#largeImg  {
    height: auto;
    max-width: 100%;
        -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

#largeImgPanel {
    text-align: center;
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 0; left: 0; 
    width:100%;
    height:100%; 
    background-color: rgba(100,100,100, 0.5);
        -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
*/

/*
section {
margin-top: 200px;
}
*/

*{
  transition: all 0.1s ease-in-out;
}

#pop, #pop2 {
{
opacity:0.50;
position: absolute;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
background: #000;
display: none;
}
}

.pop, .pop2 {
  display:none;
  position:fixed;
  top:25%;
  left:25%;
  width:50%;
  height:250px;
  background:#fff;
  .rounded;
  outline:10px solid @link;  
    z-index: 99999;
}

.pop > h2, .pop2 h2 {
  padding:30px 30px 10px 30px;
}

.pop > p, .pop2 p {
  padding-left:30px;
  font-size:100%;
  color:@dark;
    letter-spacing: .5pt;
    line-height: 20pt;
}

.pop input, .pop2 input {

        border-radius: 3px;
    border-width: 0px;
    background-color: rgb(198, 211, 220);
    padding-left: 10px;
    padding-right:35px;
    height: 30px;
    width: 100px;
    color:white;
    font-family: panT,'helvetica', arial, sans-serif;
    letter-spacing: 1pt;
}

.pop input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgb(239, 239, 239);
        letter-spacing: 1pt;
}
.pop input:-moz-placeholder, textarea:-moz-placeholder {
  color: rgb(239, 239, 239);
        letter-spacing: 1pt;
}


#send {
background-color: rgb(198, 211, 220);  
    width: 90px;
    border-radius: 0 5px 5px 0;
 color: white;
}

#email {
border-radius: 0 5px 5px 0;
}

#send:hover {
background-color: #2FB6CB;   
}

.pop > span, .pop2 span {
  cursor:pointer;
  position:absolute;
  top:4%;
  right:4%;
  -webkit-border-radius:100px;
     -moz-border-radius:100px;
          border-radius:100px;
  background:@gray;
  color:@norm;
  padding:6px 0px 0px 9px;
  width:30px;
  height:30px;
}

.pattern {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.list li {
  background: url(images/icon_arrow_right.png) no-repeat 97% 50%;
  border-bottom: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.inner {
  display: table-row;
  overflow: hidden;
}
.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding-right: 1em;
}
.li-img img {
  display: block;
  width: 100%;
  height: auto;
}
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
  padding-right: 1em;
}
.li-head {
  margin: 0;
}

.img-list {
padding-left: 0;
}

.li-summary {
  display: none;
  margin: 0;
}
.li-action {
  margin: 0;
}

@media screen and (min-width: 40em) {
  .list li {
    background: none;
  }
  .li-summary {
    display: block;
  }
}

@media screen and (min-width: 60em) {
  .list li {
    float: left;
    width: 50%;
  }
  .inner {
    padding-right: 1em;
  }
}





.menu-link {
background: none;
list-style-type: none;
  display: block;
  border: none;
font-size: 16pt;
  padding-top: 1em;
  width: 30%;
  text-align: left;
    margin-top: -60px;
    margin-left: -5px;
}

.menu-link:focus{
   outline:none;
}

.menu ul {
    list-style-type: none;

}
.menu {
    font-family: panT, "helvetica", sans-serif;
  display: none;
}
.menu, .menu > ul ul {
  clear: both;
        margin-top: -3px;
}
.js .menu, .js .menu > ul ul {
	background: rgba(233, 233, 233, 0.88);
}
.menu.active, .js .menu > ul ul.active {
	max-height: 55em;
    
}

.js .menu, .js .menu > ul ul a:hover {
color: #cecece;
}
/*
.menu > ul {
	border-top: 1px solid #575756;
}
*/
.menu li a {
	color: #575756;
	display: block;
	padding: 0.8em;
	border-bottom: 1px solid rgb(239, 239, 239);
	position: relative;
}
.menu li.has-subnav > a:after {
	content: '+';
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	font-size: 1.5em;
	padding: 0.25em 0.25em;
}
.menu li.has-subnav > a.active:after {
	content: "-";
}
.texthome {
display: none;
}
.fontawesome-home {
display: inherit;
}

.has-subnav > ul {
  display: none;
}


@media screen and (min-width: 28.750em) {
	.menuu {
		overflow: visible;
        width: 100%;
        margin-top: 150px;
	}
	.menu-link {
	  display: none;
	}
  .menu {
    display: block;
      text-align: center;
  }
	.js .menu, .js .menu > ul ul {
		max-height: none;
		overflow: visible;
		background: none;
	}
	.js .menu > ul ul {
		background: #e9e9e9;
    margin-left: -7px;
		display: none;
          -webkit-animation: fadein .2s; /* Safari and Chrome */
    -moz-animation: fadein .2s; /* Firefox */
    -ms-animation: fadein .2s; /* Internet Explorer */
    -o-animation: fadein .2s; /* Opera */
    animation: fadein .2s;
        z-index: 1000;
	}
	.js .menu > ul li:hover > ul {
		display: block;
          -webkit-animation: fadein .2s; /* Safari and Chrome */
    -moz-animation: fadein .2s; /* Firefox */
    -ms-animation: fadein .2s; /* Internet Explorer */
    -o-animation: fadein .2s; /* Opera */
    animation: fadein .2s;
        z-index: 1000;
	}
	.menu ul {
		margin: 0 0 0 -0.25em;
		border: 0;
           padding:0;
	}
	.menu li a {
		border: 0;
	}
	.menu li.has-subnav > a {
		padding-right: 1em;
	}
	.menu li.has-subnav > a:after {
		content: none;
           padding:0;
		font-size: 1em;
		padding: 0.8em 0.5em;
	}
.menu li.has-subnav > a.active:after{	
    padding:0;
    content: none;}
	.menu > ul li {
		margin: 0 0.25em;
	}
	.menu > ul > li {
		display: inline-block;
		position: relative;
	}
	.menu > ul ul {
		position: absolute;
		top: 0;
		left: 12em;
		width: 12em;
	}
	.menu > ul ul li {
		position: relative;
	}
	.menu > ul ul.level-2 {
		top: 3em;
		left: 0;
	}
    .texthome {
        display: inherit;
}
.fontawesome-home {
display: none;
}
}



